<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="https://rl44-noogtsumwohs.herokuapp.com/">Russian Language Readings</a>
  is a project to share Russian Language through the mass....
</p>
